<!DOCTYPE html>
<html>
<head>
  <title>Uglify It!</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="formcontainer">
    <h1>Uglify It!</h1>

    <h3>beauty is in the eye of the beholder</h3>

    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>

    <%= yield %>

    <p>Note: Many webpages are just too modern to be uglified!</p>
  </div>

  <style>
    h3 {
      font-family: <%= ApplicationHelper::HOVERS.sample %>
    }
  </style>

  <%= yield :extra_footer %>
</body>
</html>
