  <%= yield %>
  <div class="uglifyoverlay"></div>

  <div class="uglifytooltip">
    <input type="button" class="uglifydismissbutton uglifyclosebutton" value="&times;">
    <input type="button" class="uglifydismissbutton uglifyminbutton setmin" value="&mdash;">
    <input type="button" class="uglifydismissbutton uglifyminbutton setmax" value="&mdash;">

    <input type="button" class="uglifytoolbar uglifyfonts" value="Fonts">
    <input type="button" class="uglifytoolbar uglifyanimations" value="Animations">
    <input type="button" class="uglifytoolbar uglifygifs" value="GIFs">
    <input type="button" class="uglifytoolbar uglifybackgrounds" value="Backgrounds">

    <div class="uglifytool uglifyfontscontainer">
      <input type="button" class="uglifyfontselect uglifycomicsans" value="Comic Sans">
      <input type="button" class="uglifyfontselect uglifymonotypecorsiva" value="Corsiva">
      <input type="button" class="uglifyfontselect uglifycouriernew" value="Courier">
      <input type="button" class="uglifyfontselect uglifyimpact" value="Impact">
      <input type="button" class="uglifyfontselect uglifypapyrus" value="Papyrus">

      <div class="uglifycolorcontainer">
        <input type="button" class="uglifyfontcolor uglifycolor uglifyred">
        <input type="button" class="uglifyfontcolor uglifycolor uglifyorange">
        <input type="button" class="uglifyfontcolor uglifycolor uglifyyellow">
        <input type="button" class="uglifyfontcolor uglifycolor uglifygreen">
        <input type="button" class="uglifyfontcolor uglifycolor uglifyblue">
        <input type="button" class="uglifyfontcolor uglifycolor uglifypurple">
        <input type="button" class="uglifyfontcolor uglifycolor uglifywhite">
        <input type="button" class="uglifyfontcolor uglifycolor uglifyaqua">
        <input type="button" class="uglifyfontcolor uglifycolor uglifyfuchsia">
        <input type="button" class="uglifyfontcolor uglifycolor uglifylime">
      </div>
    </div>

    <div class="uglifytool uglifybgs">
      <div class="uglifybgcontainer">
        <input type="button" class="uglifybgselect uglifystars">
        <input type="button" class="uglifybgselect uglifyflag">
        <input type="button" class="uglifybgselect uglifyflames">
        <input type="button" class="uglifybgselect uglifymario">
        <input type="button" class="uglifybgselect uglifyweed">
        <input type="button" class="uglifybgselect uglifylasers">
        <input type="button" class="uglifybgselect uglifyisometric">
        <input type="button" class="uglifybgselect uglifynebula">
        <input type="button" class="uglifybgselect uglifysilk">
      </div>

      <div class="uglifycolorcontainer">
        <input type="button" class="uglifybgcolor uglifycolor uglifyred">
        <input type="button" class="uglifybgcolor uglifycolor uglifyorange">
        <input type="button" class="uglifybgcolor uglifycolor uglifyyellow">
        <input type="button" class="uglifybgcolor uglifycolor uglifygreen">
        <input type="button" class="uglifybgcolor uglifycolor uglifyblue">
        <input type="button" class="uglifybgcolor uglifycolor uglifypurple">
        <input type="button" class="uglifybgcolor uglifycolor uglifywhite">
        <input type="button" class="uglifybgcolor uglifycolor uglifyaqua">
        <input type="button" class="uglifybgcolor uglifycolor uglifyfuchsia">
        <input type="button" class="uglifybgcolor uglifycolor uglifylime">
      </div>
    </div>

    <div class="uglifytool uglifyanimationscontainer">
      <div class="uglifyanimationdemonstrations">
        <input type="button" class="uglifyblink uglifyblinkselect" value="blink">
        <input type="button" class="uglifybounce uglifybounceselect" value="bounce">
        <marquee><input type="button" class="uglifymarquee" value="marquee"></marquee>
        <marquee direction="up"><input type="button" class="uglifyscroll" value="scroll"></marquee>
      </div>
      <div class="uglifyanimationtargets">
        <input type="button" class="uglifyblinkselect" value="(click)">
        <input type="button" class="uglifybounceselect" value="(click)">
        <input type="button" class="uglifymarquee" value="(click)">
        <input type="button" class="uglifyscroll" value="(click)">
      </div>
    </div>
  </div>

  <a href="" class="uglifycarousel uglifyback">&#10157;</a>
  <div class="uglifycarousel">
    <%= image_tag 'activex', class: 'activex uglifydisplayimg' %><!-- 85  -->
    <%= image_tag 'aol' %><!-- 181 -->
    <%= image_tag 'aolinstantmessenger' %><!-- 126 -->
    <%= image_tag 'bestviewed' %><!-- 31  -->
    <%= image_tag 'billclinton' %><!-- 96  -->
    <%= image_tag 'billgates' %><!-- 80  -->
    <%= image_tag 'cartoonnetwork' %><!-- 60  -->
    <%= image_tag 'coldfusion' %><!-- 66  -->
    <%= image_tag 'cookies' %><!-- 54  -->
    <%= image_tag 'counter1' %><!-- 24  -->
    <%= image_tag 'counter2' %><!-- 25  -->
    <%= image_tag 'counter3' %><!-- 17  -->
    <%= image_tag 'crazyfrog' %><!-- 118 -->
    <%= image_tag 'doom' %><!-- 320 -->
    <%= image_tag 'friends' %><!-- 276 -->
    <%= image_tag 'gallery' %><!-- 87 -->
    <%= image_tag 'goldeneye' %><!-- 168 -->
    <%= image_tag 'homepage' %><!-- 86  -->
    <%= image_tag 'ie' %><!-- 40  -->
    <%= image_tag 'iewide' %><!-- 31  -->
    <%= image_tag 'korn' %><!-- 187 -->
    <%= image_tag 'macintosh' %><!-- 31 -->
    <%= image_tag 'metalgearsolid' %><!-- 83  -->
    <%= image_tag 'nader' %><!-- 153 -->
    <%= image_tag 'napster' %><!-- 79  -->
    <%= image_tag 'netscape' %><!-- 40  -->
    <%= image_tag 'netscape2' %><!-- 60  -->
    <%= image_tag 'netscapewide' %><!-- 31  -->
    <%= image_tag 'nickelodeon' %><!-- 78  -->
    <%= image_tag 'nintendo64' %><!-- 169 -->
    <%= image_tag 'nsync' %><!-- 245 -->
    <%= image_tag 'parentaladvisory' %><!-- 78  -->
    <%= image_tag 'playstation' %><!-- 122 -->
    <%= image_tag 'pokeball' %><!-- 100 -->
    <%= image_tag 'pokemon' %><!-- 95  -->
    <%= image_tag 'segasaturn' %><!-- 151 -->
    <%= image_tag 'shockwave' %><!-- 38  -->
    <%= image_tag 'slipknot' %><!-- 111 -->
    <%= image_tag 'spacejam' %><!-- 164 -->
    <%= image_tag 'starcraft' %><!-- 273 -->
    <%= image_tag 'underconstruction1' %><!-- 76  -->
    <%= image_tag 'underconstruction2' %><!-- 191 -->
    <%= image_tag 'underconstruction3' %><!-- 80  -->
    <%= image_tag 'underconstruction4' %><!-- 25  -->
    <%= image_tag 'xfiles' %><!-- 350 -->
    <%= image_tag 'welcome' %><!-- 103 -->
    <%= image_tag 'win95', class: 'windows' %><!-- 24  -->
  </div>
  <a href="" class="uglifycarousel uglifyforward">&#10157;</a>
  <a href="" class="uglifycarousel uglifyclosecarousel">&times;</a>

  <style type="text/css">
    body {
      cursor: cell;
    }

    div.uglifyoverlay {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      padding:0;
      margin:0;
      top: 0;
      left: 0;
      visibility: none;
    }

    div.uglifytooltip {
      display: none;
      position: absolute;
      width: 200px;
      height: 200px;
      line-height: 20px;
      padding: 0px;
      font-family: Helvetica, FreeSans, Arial, sans-serif;
      font-size: 24px;
      font-weight: bold;
      text-align: left;
      background: #66ccff;
      border: 4px solid #66ccff;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
      opacity: 0.92;
      filter: alpha(opacity=92);
      cursor: auto;
      z-index: 500001;
    }

    div.uglifytooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent #66ccff transparent transparent;
      top: -3px;
      left: -23px;
    }

    div.uglifytooltip .uglifydismissbutton {
      display: inline-block;
      float: right;
      width: 22px !important;
      height: 22px !important;
      line-height: 0px;
      padding: 0px;
      font-weight: bold;
      text-align: left;
      background: none;
      border: none;
      opacity: 0.60;
      filter: alpha(opacity=60);
    }

    div.uglifytooltip .uglifydismissbutton:hover {
      opacity: 0.80;
      filter: alpha(opacity=80);
    }

    div.uglifytooltip .uglifyminbutton {
      margin-right: 2px;
      padding-top: 10px;
      font-size: 35px !important;
    }

    div.uglifytooltip .uglifyclosebutton {
      padding-bottom: 6px;
      font-size: 40px !important;
    }

    div.uglifytooltip .setmax {
      display: none;
    }

    div.uglifytooltip .uglifytoolbar {
      display: inline-block !important;
      padding: 0px;
      font-size: 16px !important;
      font-weight: bold;
      background: none;
      border: none;
      opacity: 0.60;
      filter: alpha(opacity=60);
    }

    div.uglifytooltip .uglifytoolbar:hover {
      opacity: 0.80;
      filter: alpha(opacity=80);
    }

    div.uglifytooltip .uglifytool {
      display: none;
    }

    div.uglifytooltip .uglifyfontscontainer {
      display: inline-block;
      float: left;
    }

    div.uglifytooltip .uglifycolorcontainer {
      position: absolute;
      width: 55px;
      top: 52px;
      left: 140px;
    }

    div.uglifytooltip .uglifybgcontainer {
      position: absolute;
      width: 137px;
      top: 58px;
      left: 3px;
    }

    div.uglifytooltip .uglifyfontselect {
      display: block;
      font-size: 24px;
      padding: 0px;
      background: none;
      border: none;
      opacity: 0.60;
      filter: alpha(opacity=60);
    }

    div.uglifytooltip .uglifyfontselect:hover {
      opacity: 0.80;
      filter: alpha(opacity=80);
    }

    div.uglifytooltip .uglifycomicsans {
      margin-bottom: -5px;
      font-family: "Comic Sans MS", "Comic Sans", Chalkboard, cursive;
    }

    div.uglifytooltip .uglifycouriernew {
      font-family: "Courier New", Courier, "Liberation Mono", monospace;
    }

    div.uglifytooltip .uglifyimpact {
      font-family: Impact, Haettenschweiler, Compacta, "Arial Black", sans-serif;
    }

    div.uglifytooltip .uglifymonotypecorsiva {
      margin-bottom: -5px;
      font-family: "Monotype Corsiva", "Apple Chancery", "Zapf Chancery", Zapf-Chancery, "URW Chancery L", cursive;
    }

    div.uglifytooltip .uglifypapyrus {
      font-family: Papyrus, Herculanum, Lithos, Skia, fantasy;
    }

    div.uglifycolorcontainer .uglifycolor {
      width: 25px;
      height: 25px;
      margin-bottom: 5px;
      margin-right: -1px;
      padding: 0px;
      border: none;
    }

    div.uglifycolorcontainer .uglifycolor:hover {
      width: 27px;
      height: 27px;
      margin-bottom: 4px;
      margin-top: -1px;
      margin-right: -2px;
      margin-left: -1px;
    }

    div.uglifycolorcontainer .uglifyred {
      background-color: red;
    }

    div.uglifycolorcontainer .uglifyorange {
      background-color: #ff6600;
    }

    div.uglifycolorcontainer .uglifyyellow {
      background-color: yellow;
    }

    div.uglifycolorcontainer .uglifygreen {
      background-color: green;
    }

    div.uglifycolorcontainer .uglifyblue {
      background-color: blue;
    }

    div.uglifycolorcontainer .uglifypurple {
      background-color: purple;
    }

    div.uglifycolorcontainer .uglifywhite {
      background-color: white;
    }

    div.uglifycolorcontainer .uglifyaqua {
      background-color: aqua;
    }

    div.uglifycolorcontainer .uglifyfuchsia {
      background-color: fuchsia;
    }

    div.uglifycolorcontainer .uglifylime {
      background-color: lime;
    }

    div.uglifybgcontainer .uglifybgselect {
      width: 44px;
      height: 44px;
      margin-right: -7px;
      border: none;
    }

    div.uglifybgcontainer .uglifystars {
      background-image: url(<%= asset_path 'stars' %>);
    }

    div.uglifybgcontainer .uglifyflag {
      background-image: url(<%= asset_path 'flag' %>);
      background-position: center;
    }

    div.uglifybgcontainer .uglifyflames {
      background-image: url(<%= asset_path 'flames' %>);
      background-position: right, bottom;
    }

    div.uglifybgcontainer .uglifymario {
      background-image: url(<%= asset_path 'mario' %>);
      background-position: center;
    }

    div.uglifybgcontainer .uglifyweed {
      background-image: url(<%= asset_path 'weed' %>);
      background-position: 15%, 10%;
    }

    div.uglifybgcontainer .uglifylasers {
      background-image: url(<%= asset_path 'lasers' %>);
      background-position: 40%, 50%;
    }

    div.uglifybgcontainer .uglifyisometric {
      background-image: url(<%= asset_path 'isometric' %>);
      background-position: 100%, 40%;
    }

    div.uglifybgcontainer .uglifynebula {
      background-image: url(<%= asset_path 'nebula' %>);
      background-position: center;
    }

    div.uglifybgcontainer .uglifysilk {
      background-image: url(<%= asset_path 'silk' %>);
    }

    .uglifycarousel {
      display: none;
    }

    div.uglifycarousel {
      position: absolute !important;
      left: 50% !important;
      top: 50% !important;
      -webkit-transform: translate(-50%, -50%) !important;
          -ms-transform: translate(-50%, -50%) !important;
              transform: translate(-50%, -50%) !important;
    }

    div.uglifycarousel img {
      position: relative;
      display: none;
      cursor: pointer !important;
      z-index: 500002 !important;
    }

    div.uglifycarousel .uglifydisplayimg {
      display: block;
    }

    a.uglifycarousel {
      color: #000000 !important;
      position: absolute !important;
      font-size: 250px !important;
      opacity: 0.60 !important;
      filter: alpha(opacity=60) !important;
      z-index: 500002 !important;
    }

    a.uglifyback {
      top: 50% !important;
      left: 10% !important;
      -webkit-transform: translate(-50%, -50%) rotateY(180deg) !important;
              transform: translate(-50%, -50%) rotateY(180deg) !important;
    }

    a.uglifyforward {
      top: 50% !important;
      left: 90% !important;
      -webkit-transform: translate(-50%, -50%) !important;
          -ms-transform: translate(-50%, -50%) !important;
              transform: translate(-50%, -50%) !important;
    }

    a.uglifyclosecarousel {
      top: 15% !important;
      left: 90% !important;
      font-weight: bold !important;
      -webkit-transform: translate(-50%, -50%) !important;
          -ms-transform: translate(-50%, -50%) !important;
              transform: translate(-50%, -50%) !important;
    }

    img.uglifyplacedgif {
      position: absolute !important;
      z-index: 500000 !important;
    }

    div.uglifyanimationscontainer input {
      display: inline !important;
      background: none !important;
      border: none !important;
      font-size: 24px !important;
      font-weight: bold !important;
      opacity: 0.60 !important;
      filter: alpha(opacity=60) !important;
    }

    div.uglifyanimationscontainer input:hover {
      opacity: 0.80 !important;
      filter: alpha(opacity=80) !important;
    }

    div.uglifyanimationscontainer .uglifybounce {
      -webkit-animation: bounce 1s infinite;
      -ms-animation: bounce 1s infinite;
      animation: bounce 1s infinite;
      margin-top: 30px;
    }

    @keyframes bounce {
      0% {
        transform:translateY(0px);
      }
      50% {
        transform:translateY(-30px);
      }
      100% {
        transform:translateY(0px);
      }
    }

    @-webkit-keyframes bounce {
      0% {
        -webkit-transform:translateY(0px);
      }
      50% {
        -webkit-transform:translateY(-30px);
      }
      100% {
        -webkit-transform:translateY(0px);
      }
    }

    @-ms-keyframes bounce {
      0% {
        -ms-transform:translateY(0px);
      }
      50% {
        -ms-transform:translateY(-30px);
      }
      100% {
        -ms-transform:translateY(0px);
      }
    }

    div.uglifyanimationscontainer .uglifyblink {
      animation: blink 500ms steps(2, start) infinite;
      -webkit-animation: blink 500ms steps(2, start) infinite;
      -ms-animation: blink 500ms steps(2, start) infinite;
    }

    @keyframes blink {
      to {
        visibility: hidden;
      }
    }

    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }

    @-ms-keyframes blink {
      to {
        visibility: hidden;
      }
    }

    div.uglifyanimationscontainer .uglifyanimationdemonstrations {
      display: inline-block;
      width: 120px;
    }

    div.uglifyanimationscontainer .uglifyanimationtargets {
      position: relative;
      top: -10px;
      display: inline-block;
      width: 50px;
    }

    div.uglifyanimationtargets input {
      margin-top: 5px;
    }

    div.uglifyanimationtargets .uglifybounceselect {
      margin-top: 25px;
    }
  </style>
  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
