  <%= yield %>
  <div class="uglifyoverlay"></div>

  <div class="uglifytooltip">
    <input type="button" class="uglifydismissbutton uglifyclosebutton" value="&times;">
    <input type="button" class="uglifydismissbutton uglifyminbutton setmin" value="&mdash;">
    <input type="button" class="uglifydismissbutton uglifyminbutton setmax" value="&mdash;">

    <input type="button" class="uglifytoolbar uglifyfonts" value="Fonts">
    <input type="button" class="uglifytoolbar uglifyanimations" value="Animations">
    <input type="button" class="uglifytoolbar uglifybackgrounds" value="Backgrounds">
    <input type="button" class="uglifytoolbar uglifygifs" value="GIFs">

    <div class="uglifytool uglifyfonts">
      <input type="button" class="uglifyfontselect uglifycomicsans" value="Comic Sans">
      <input type="button" class="uglifyfontselect uglifymonotypecorsiva" value="Corsiva">
      <input type="button" class="uglifyfontselect uglifycouriernew" value="Courier">
      <input type="button" class="uglifyfontselect uglifyimpact" value="Impact">
      <input type="button" class="uglifyfontselect uglifypapyrus" value="Papyrus">

      <div class="uglifycolorcontainer">
        <input type="button" class="uglifyfontcolor uglifycolor uglifyred">
        <input type="button" class="uglifyfontcolor uglifycolor uglifyorange">
        <input type="button" class="uglifyfontcolor uglifycolor uglifyyellow">
        <input type="button" class="uglifyfontcolor uglifycolor uglifygreen">
        <input type="button" class="uglifyfontcolor uglifycolor uglifyblue">
        <input type="button" class="uglifyfontcolor uglifycolor uglifypurple">
        <input type="button" class="uglifyfontcolor uglifycolor uglifywhite">
        <input type="button" class="uglifyfontcolor uglifycolor uglifyaqua">
        <input type="button" class="uglifyfontcolor uglifycolor uglifyfuchsia">
        <input type="button" class="uglifyfontcolor uglifycolor uglifylime">
      </div>
    </div>

    <div class="uglifytool uglifybgs">
      <div class="uglifybgcontainer">
        <input type="button" class="uglifybgselect uglifystars">
        <input type="button" class="uglifybgselect uglifyflag">
        <input type="button" class="uglifybgselect uglifyflames">
        <input type="button" class="uglifybgselect uglifymario">
        <input type="button" class="uglifybgselect uglifyweed">
        <input type="button" class="uglifybgselect uglifylasers">
        <input type="button" class="uglifybgselect uglifyisometric">
        <input type="button" class="uglifybgselect uglifynebula">
        <input type="button" class="uglifybgselect uglifysilk">
      </div>

      <div class="uglifycolorcontainer">
        <input type="button" class="uglifybgcolor uglifycolor uglifyred">
        <input type="button" class="uglifybgcolor uglifycolor uglifyorange">
        <input type="button" class="uglifybgcolor uglifycolor uglifyyellow">
        <input type="button" class="uglifybgcolor uglifycolor uglifygreen">
        <input type="button" class="uglifybgcolor uglifycolor uglifyblue">
        <input type="button" class="uglifybgcolor uglifycolor uglifypurple">
        <input type="button" class="uglifybgcolor uglifycolor uglifywhite">
        <input type="button" class="uglifybgcolor uglifycolor uglifyaqua">
        <input type="button" class="uglifybgcolor uglifycolor uglifyfuchsia">
        <input type="button" class="uglifybgcolor uglifycolor uglifylime">
      </div>
    </div>
    <div class="uglifytool uglifygifs">
    </div>
  </div>

  <style type="text/css">
    div.uglifyoverlay {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      padding:0;
      margin:0;
      top: 0;
      left: 0;
      visibility: none;
      z-index: 0;
    }

    div.uglifytooltip {
      display: none;
      position: absolute;
      width: 200px;
      height: 200px;
      line-height: 20px;
      padding: 0px;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 24px;
      font-weight: bold;
      background: #66ccff;
      border: 4px solid #66ccff;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
      opacity: 0.92;
      filter: alpha(opacity=92);
    }

    div.uglifytooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent #66ccff transparent transparent;
      top: -3px;
      left: -23px;
    }

    div.uglifytooltip .uglifydismissbutton {
      display: inline-block;
      float: right;
      width: 22px;
      height: 22px;
      line-height: 0px;
      padding: 0px;
      font-weight: bold;
      text-align: left;
      background: none;
      border: none;
      opacity: 0.60;
      filter: alpha(opacity=60);
    }

    div.uglifytooltip .uglifydismissbutton:hover {
      opacity: 0.80;
      filter: alpha(opacity=80);
    }

    div.uglifytooltip .uglifyminbutton {
      margin-right: 2px;
      padding-top: 10px;
      font-size: 35px;
    }

    div.uglifytooltip .uglifyclosebutton {
      padding-bottom: 6px;
      font-size: 40px;
    }

    div.uglifytooltip .setmax {
      display: none;
    }

    div.uglifytooltip .uglifytoolbar {
      padding: 0px;
      font-size: 18px;
      font-weight: bold;
      background: none;
      border: none;
      opacity: 0.60;
      filter: alpha(opacity=60);
    }

    div.uglifytooltip .uglifytoolbar:hover {
      opacity: 0.80;
      filter: alpha(opacity=80);
    }

    div.uglifytooltip .uglifytool {
      display: none;
    }

    div.uglifytooltip .uglifyfonts {
      display: inline-block;
    }

    div.uglifytooltip .uglifycolorcontainer {
      position: absolute;
      width: 55px;
      top: 52px;
      left: 140px;
    }

    div.uglifytooltip .uglifybgcontainer {
      position: absolute;
      width: 137px;
      top: 58px;
      left: 3px;
    }

    div.uglifytooltip .uglifyfontselect {
      display: block;
      float: bottom;
      padding: 0px;
      background: none;
      border: none;
      opacity: 0.60;
      filter: alpha(opacity=60);
    }

    div.uglifytooltip .uglifyfontselect:hover {
      opacity: 0.80;
      filter: alpha(opacity=80);
    }

    div.uglifytooltip .uglifycomicsans {
      margin-bottom: -5px;
      font-family: "Comic Sans MS", "Comic Sans", Chalkboard, cursive;
    }

    div.uglifytooltip .uglifycouriernew {
      font-family: "Courier New", Courier, "Liberation Mono", monospace;
    }

    div.uglifytooltip .uglifyimpact {
      font-family: Impact, Haettenschweiler, Compacta, "Arial Black", sans-serif;
    }

    div.uglifytooltip .uglifymonotypecorsiva {
      margin-bottom: -5px;
      font-family: "Monotype Corsiva", "Apple Chancery", "Zapf Chancery", Zapf-Chancery, "URW Chancery L", cursive;
    }

    div.uglifytooltip .uglifypapyrus {
      font-family: Papyrus, Herculanum, Lithos, Skia, fantasy;
    }

    div.uglifycolorcontainer .uglifycolor {
      width: 25px;
      height: 25px;
      margin-bottom: 5px;
      margin-right: -1px;
      padding: 0px;
      border: none;
    }

    div.uglifycolorcontainer .uglifycolor:hover {
      width: 27px;
      height: 27px;
      margin-bottom: 4px;
      margin-top: -1px;
      margin-right: -2px;
      margin-left: -1px;
    }

    div.uglifycolorcontainer .uglifyred {
      background-color: red;
    }

    div.uglifycolorcontainer .uglifyorange {
      background-color: #ff6600;
    }

    div.uglifycolorcontainer .uglifyyellow {
      background-color: yellow;
    }

    div.uglifycolorcontainer .uglifygreen {
      background-color: green;
    }

    div.uglifycolorcontainer .uglifyblue {
      background-color: blue;
    }

    div.uglifycolorcontainer .uglifypurple {
      background-color: purple;
    }

    div.uglifycolorcontainer .uglifywhite {
      background-color: white;
    }

    div.uglifycolorcontainer .uglifyaqua {
      background-color: aqua;
    }

    div.uglifycolorcontainer .uglifyfuchsia {
      background-color: fuchsia;
    }

    div.uglifycolorcontainer .uglifylime {
      background-color: lime;
    }

    div.uglifybgcontainer .uglifybgselect {
      width: 44px;
      height: 44px;
      margin-right: -7px;
      border: none;
    }

    div.uglifybgcontainer .uglifystars {
      background-image: url(<%= asset_path 'stars.gif' %>);
    }

    div.uglifybgcontainer .uglifyflag {
      background-image: url(<%= asset_path 'flag.gif' %>);
      background-position: center;
    }

    div.uglifybgcontainer .uglifyflames {
      background-image: url(<%= asset_path 'flames.gif' %>);
      background-position: right, bottom;
    }

    div.uglifybgcontainer .uglifymario {
      background-image: url(<%= asset_path 'mario.gif' %>);
      background-position: center;
    }

    div.uglifybgcontainer .uglifyweed {
      background-image: url(<%= asset_path 'weed.gif' %>);
      background-position: 15%, 10%;
    }

    div.uglifybgcontainer .uglifylasers {
      background-image: url(<%= asset_path 'lasers.gif' %>);
      background-position: 40%, 50%;
    }

    div.uglifybgcontainer .uglifyisometric {
      background-image: url(<%= asset_path 'isometric.gif' %>);
      background-position: 100%, 40%;
    }

    div.uglifybgcontainer .uglifynebula {
      background-image: url(<%= asset_path 'nebula.gif' %>);
      background-position: center;
    }

    div.uglifybgcontainer .uglifysilk {
      background-image: url(<%= asset_path 'silk.gif' %>);
    }
  </style>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'tooltip' %>
  <%= yield :extra_footer %>
</body>
</html>
